.legend {
    text-align: left;
}
.inputleft {
    text-align: left;
}

h4 {
    text-align: left;}
th {
        width: 350px;
        vertical-align:top
    }
h1 {
        text-align:  center;
       }