table {
    border-collapse: collapse;
    border: 5px solid black; 
   } 
   td {
       height: 80px;
       width: 80px;
       text-align: center;
   }

.black {
	background: black;
}	

.white {
    background: blanchedalmond;
}